<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <title>C&#212;NG TY CỔ PHẦN PH&#194;N M&#202;M KẾ TO&#193;N DOANH NGHIỆP VIỆT NAM</title>
  <meta name="title" content="C&#212;NG TY CỔ PHẦN PH&#194;N M&#202;M KẾ TO&#193;N DOANH NGHIỆP VIỆT NAM" />
  <meta name="keywords" content="kế to&#225;n,thương mại, kế to&#225;n b&#225;n h&#224;ng" />
  <meta name="description" content="C&#244;ng ty được th&#224;nh lập với mục đ&#237;ch cung cấp giải ph&#225;p về c&#225;c dịch vụ thuế kế to&#225;n. Với kinh nghiệm 15 năm c&#249;ng c&#225;c chuy&#234;n gia đầu ng&#224;nh sẽ gi&#250;p c&#225;c doanh nghiệp Việt Nam" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/Upload/Images/logo1.png" type="image/png" />
  <link rel="stylesheet" href="/Content/PMKT/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Content/PMKT/awesome/font-awesome.min.css">
  <link rel="stylesheet" href="/Content/PMKT/awesome/flaticon.css">
  <link rel="stylesheet" href="/Content/PMKT/css/owl.carousel.css">
  <link rel="stylesheet" href="/Content/PMKT/css/navigation.css">
  <link rel="stylesheet" href="/Content/PMKT/css/styles.css">
  <link rel="stylesheet" href="/Content/PMKT/css/responsive.css">
  <link rel="stylesheet" href="/Content/PMKT/css/settings.css">
  <script src="/Content/PMKT/js/jquery.min.js"></script>
  <script src="/Content/PMKT/js/bootstrap.min.js"></script>
  <script src="/Content/PMKT/js/theme.js"></script>
  <script src='/Content/PMKT/js/jquery.themepunch.tools.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/jquery.themepunch.revolution.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/revolution.extension.slideanims.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/revolution.extension.layeranimation.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/revolution.extension.navigation.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/revolution.extension.kenburn.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/revolution.extension.actions.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/revolution.extension.video.min87d9.js' type='text/javascript'></script>
  <script src='/Content/PMKT/js/owl.carousel.js' type='text/javascript'></script>
</head>
<body>
  <div class="main-page-wrapper">
    <div class="header-style-two ">
      <header class="main-header">
        <div class="bottom-header">
          <div class="container">
            <div class="logo float-left"><a href="/" style="vertical-align:middle;"><img src="/Upload/ImageDes/files/logo.png" alt="C&#212;NG TY PHẦN MỀM KẾ TO&#193;N DOANH NGHIỆP VIỆT NAM"></a></div>
            <div class="right-side float-right">
              <div class="single-content float-left bar-fix">
                <i class="ficon flaticon-call-solid"></i>
                <p>02439841070</p>
                <span>accvasj@gmail.com</span>
              </div> <!-- /.single-content -->
              <div class="single-content float-left bar-fix sicl">
                <i class="ficon flaticon-map-solid"></i>
                <p>C&#212;NG TY PHẦN MỀM KẾ TO&#193;N DOANH NGHIỆP VIỆT NAM</p>
                <span>546 Bạch Đằng Hai B&#224; Trưng H&#224; Nội</span>
              </div> <!-- /.single-content -->
              <div class="single-content float-left mFix sicl">
                <ul>
                  <li><a href="#" class="tran3s round-border icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="tran3s round-border icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="tran3s round-border icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="tran3s round-border icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
              </div> <!-- /.single-content -->
            </div> <!-- /.right-side -->
          </div> <!-- /.container -->
        </div> <!-- /.bottom-header -->
      </header>
      <!-- Theme Main Menu ____________________________ -->
      <div class="main-menu">
        <div class="container">
          <!-- Menu -->
          <nav class="navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/" title="Trang chủ">
                    Trang chủ
                  </a>
                </li>
                <li>
                  <a title="Giới Thiệu">
                    Giới Thiệu
                  </a>
                </li>
                <li>
                  <a href="/categories/phan-mem-ke-toan-4.html" title="Sản Phẩm">
                    Sản Phẩm
                  </a>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                  <ul class="sub-menu">
                    <li class="menu_sub_li">
                      <a href="/categories/phan-mem-ke-toan-4.html" title="VN-invoice ">
                        <span>VN-invoice </span>
                      </a>
                    </li>
                  </ul>
                  <script>
                    $(document).ready(function () {
                      $('.menu_sub_li').parents().addClass('dropdown-holder');
                    });
                  </script>
                </li>
                <li>
                  <a href="#" title="Tư Vấn Dịch Vụ">
                    Tư Vấn Dịch Vụ
                  </a>
                </li>
                <li>
                  <a href="/blogs/tin-tuc-1.html" title="Tin Tức">
                    Tin Tức
                  </a>
                </li>
                <li>
                  <a href="/pages/lien-he.html" title="Li&#234;n Hệ">
                    Li&#234;n Hệ
                  </a>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                  <ul class="sub-menu">
                    <li class="menu_sub_li">
                    </li>
                  </ul>
                  <script>
                    $(document).ready(function () {
                      $('.menu_sub_li').parents().addClass('dropdown-holder');
                    });
                  </script>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
          <a href="javascript::0" class="tran3s request-quote p-color-bg button-register">Trải nghiệm ngay <span><i class="ficon flaticon-arrows"></i></span></a>
        </div> <!-- /.container -->
      </div> <!-- /.main-menu -->
    </div>
    <div id="banner" class="hidden-xs">
      <div id="banner-page ">
        <div class="rev_slider_wrapper">
          <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
          <div id="main-banner-slider-two" class="rev_slider" data-version="5.0.7">
            <ul>
              <li class="sikder_1" data-index="rs-1" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-thumb="/Upload/Images/home_1_slider_img_1.jpg" data-saveperformance="off" data-title="Xem" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/Upload/Images/home_1_slider_img_1.jpg" alt="" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slide-top">
                  <div class="tp-caption banner-title"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['-18','-18','40','-130']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                       data-mask_in="x:0px;y:[100%];"
                       data-mask_out="x:inherit;y:inherit;"
                       data-start="1000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 6; white-space: nowrap;">
                    <h1><span style="color: #234690">GIẢI PH&#193;P KẾ TO&#193;N</span><br><span style="color: #ffb504">CỦA CH&#218;NG T&#212;I</span></h1>
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption banner-content"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['100','100','140','-35']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                       data-mask_in="x:0px;y:[100%];"
                       data-mask_out="x:inherit;y:inherit;"
                       data-start="2000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 6; white-space: nowrap;">
                    <h5><span class="silder_des_1" style="color: #333333">Giải quyết công việc một cách nhanh chóng thuận tiện nhất</span></h5>
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption banner-btn"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['190','190','250','80']"
                       data-transform_idle="o:1;"
                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                       data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                       data-start="3000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on">
                    <a href="#" class="service-button p-color-bg hvr-bounce-to-right">TÌM HIỂU NGAY</a>
                  </div>
                </div>
              </li>
              <li class="sikder_2" data-index="rs-2" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-thumb="/Upload/Images/home_1_slider_img_2.jpg" data-saveperformance="off" data-title="Xem" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/Upload/Images/home_1_slider_img_2.jpg" alt="" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slide-top">
                  <div class="tp-caption banner-title"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['-18','-18','40','-130']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                       data-mask_in="x:0px;y:[100%];"
                       data-mask_out="x:inherit;y:inherit;"
                       data-start="1000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 6; white-space: nowrap;">
                    <h1><span style="color: #234690">CHỌN LỰA TH&#212;NG TH&#193;I</span><br><span style="color: #ffb504">CỦA BẠN</span></h1>
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption banner-content"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['100','100','140','-35']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                       data-mask_in="x:0px;y:[100%];"
                       data-mask_out="x:inherit;y:inherit;"
                       data-start="2000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 6; white-space: nowrap;">
                    <h5><span class="silder_des_2" style="color: #333333">Đem lại hiệu quả và phát triển bền vững!</span></h5>
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption banner-btn"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['190','190','250','80']"
                       data-transform_idle="o:1;"
                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                       data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                       data-start="3000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on">
                    <a class="service-button p-color-bg hvr-bounce-to-right">TÌM HIỂU NGAY</a>
                  </div>
                </div>
              </li>
              <li class="sikder_3" data-index="rs-3" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-thumb="/Upload/Images/home_3_slider_img_3.jpg" data-saveperformance="off" data-title="Xem" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/Upload/Images/home_3_slider_img_3.jpg" alt="" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slide-top">
                  <div class="tp-caption banner-title"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['-18','-18','40','-130']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                       data-mask_in="x:0px;y:[100%];"
                       data-mask_out="x:inherit;y:inherit;"
                       data-start="1000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 6; white-space: nowrap;">
                    <h1><span style="color: #234690"></span><br><span style="color: #ffb504"></span></h1>
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption banner-content"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['100','100','140','-35']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                       data-mask_in="x:0px;y:[100%];"
                       data-mask_out="x:inherit;y:inherit;"
                       data-start="2000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 6; white-space: nowrap;">
                    <h5><span class="silder_des_3" style="color: #333333"></span></h5>
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption banner-btn"
                       data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['190','190','250','80']"
                       data-transform_idle="o:1;"
                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                       data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                       data-start="3000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div><!-- END REVOLUTION SLIDER -->
      </div>
    </div> <!--  /#banner -->
    <!--Main page-->
    <div class="body-content">
      <div class="short-banner">
        <div class="opacity">
          <div class="container">
            <h3 title="We are not the first but the best!" class="float-left">We are not the first but the best!</h3>
            <a href="#" class="float-right theme-button">TÌM HIỂU THÊM</a>
          </div>
        </div>
      </div>
      <div class="awe-section-intro">
        <div class="constructo-aboutUs-area section-padding">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="section-title">
                  <h2>Giới thiệu về doanh nghiệp</h2>
                  <p>Sản xuất v&#224; gia c&#244;ng c&#225;c sản phẩm phần mềm t&#224;i ch&#237;nh kế to&#225;n, c&#225;c dịch vụ trực tuyến, c&#225;c giải ph&#225;p thương mại điện tử cho doanh nghiệp</p>
                  <div class="line">
                    <img src="/Content/PMKT/image/line.png" alt="line">
                  </div>
                </div>
              </div>
            </div>
            <div class="row padding-top">
              <div class="col-sm-12 col-md-6">
                <div class="aboutUs-img">
                  <img src="/Upload/ImageDes/images/about-img1.jpg" alt="image_intro">
                </div>
                <div class="about-img2 hidden-xs">
                  <img src="/Upload/ImageDes/images/about-img2.jpg" alt="image_intro">
                </div>
              </div>
              <div class="col-sm-12 col-md-5 col-md-offset-1">
                <div class="constructo-aboutUs-content">
                  <p>
                    C&#244;ng ty Cổ phần mềm Kế to&#225;n Doanh nghiệp Việt Nam (Vietnam Accounting Software Co., jsc) viết tắt l&#224; VASJ được th&#224;nh lập với mục ti&#234;u đem tr&#237; tuệ của m&#236;nh để l&#224;m gi&#224;u ch&#237;nh đ&#225;ng cho bản th&#226;n v&#224; cho x&#227; hội bằng việc cung cấp c&#225;c dịch vụ C&#244;ng nghệ th&#244;ng tin c&#243; uy t&#237;n v&#224; chất lượng cao.
                    T&#224;i sản qu&#237; gi&#225; v&#224; l&#224; niềm tự h&#224;o của ch&#250;ng t&#244;i ch&#237;nh l&#224; đội ngũ nh&#226;n vi&#234;n chuy&#234;n nghiệp, năng động, s&#225;ng tạo, t&#226;m huyết, tinh thần tr&#225;ch nhiệm v&#224; chuy&#234;n m&#244;n cao, l&#224;m việc hết m&#236;nh v&#236; tập thể c&#244;ng ty v&#224; kh&#225;ch h&#224;ng
                  </p>
                  <div class="row">
                    <div class="col-sm-6 text-left">
                      <div class="about-list">
                        <ul>
                          <li>Giới thiệu</li>
                          <li>Uy t&#237;n</li>
                          <li>Chất lượng</li>
                          <li>An to&#224;n</li>
                          <li>Tiện lợi</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-6 text-left">
                      <div class="about-list">
                        <ul>
                          <li>Giải ph&#225;p </li>
                          <li>Hữu dụng</li>
                          <li>Nhanh ch&#243;ng</li>
                          <li>Miễn ph&#237;</li>
                          <li>Nhanh gọn</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="btn-readmor">Chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end cụm thứ 1 -->
      <!--product of me-->
      <div class="product_service">
        <div class="container">
          <div class="title_block_product">
            <h2 class="titles">
              C&#193;C SẢN PHẨM V&#192; DỊCH VỤ HIỆN C&#211;
            </h2>
          </div>
          <div id="product_owl_home">
            <div class="item">
              <div class="image-block">
                <a href="/products/phan-mem-ke-toan-hcsn-smartsoft-ad-09q19-4-7.html"><img class="product-image" src="/Upload/ImageDes/images/Ad(09Q19).png" alt="img1" /></a>
              </div>
              <h3 class="title_product">Phần mềm kế to&#225;n HCSN SmartSoft Ad(09Q19)</h3>
              <p class="txt_description">Phần mềm kế to&#225;n SmartSoft ad(09Q19) l&#224; phi&#234;n bản d&#224;nh ri&#234;ng cho c&#225;c đơn vị h&#224;nh ch&#237;nh sự nghiệp...</p>
            </div>
            <div class="item">
              <div class="image-block">
                <a href="/products/phan-mem-ke-toan-smartsoft-7-ssc-4-4.html"><img class="product-image" src="/Upload/ImageDes/files/7_ssc.png" alt="img1" /></a>
              </div>
              <h3 class="title_product">Phần mềm kế to&#225;n SmartSoft 7(Ssc)</h3>
              <p class="txt_description">Chương tr&#236;nh kế to&#225;n &#225;p dung cho c&#225;c doanh nghiệp vừa v&#224; nhỏ phần mềm được thiết kế linh động, dễ sử dụng...</p>
            </div>
            <div class="item">
              <div class="image-block">
                <a href="/products/phan-mem-ke-toan-smartsoft-9-sm17-4-3.html"><img class="product-image" src="/Upload/ImageDes/images/9(sm17).png" alt="img1" /></a>
              </div>
              <h3 class="title_product">Phần mềm kế to&#225;n SmartSoft 9(Sm17)</h3>
              <p class="txt_description">Chương tr&#236;nh kế to&#225;n &#225;p dung cho c&#225;c đơn vị sản xuất v&#224; doanh nghiệp lớn với.cở sở dữ liệu SQL Server 2016...</p>
            </div>
            <div class="item">
              <div class="image-block">
                <a href="/products/giai-phap-cac-phan-mem-hoa-don-dien-tu-4-2.html"><img class="product-image" src="/Upload/ImageDes/images/Vnbillnet2.png" alt="img1" /></a>
              </div>
              <h3 class="title_product">Giải ph&#225;p c&#225;c phần mềm h&#243;a đơn điện tử</h3>
              <p class="txt_description">Ho&#225; đơn điện tử l&#224; tập hợp c&#225;c th&#244;ng điệp dữ liệu điện tử về b&#225;n h&#224;ng ho&#225;, cung ứng dịch vụ, được khởi tạo, lập, gửi, nhận, lưu trữ v&#224; quản l&#253; bằng phương tiện điện tử...</p>
            </div>
            <div class="item">
              <div class="image-block">
                <a href="/products/giai-phap-quan-ly-tong-the-erp-acpinet-4-1.html"><img class="product-image" src="/Upload/ImageDes/files/AcpiNet.png" alt="img1" /></a>
              </div>
              <h3 class="title_product">Giải ph&#225;p quản l&#253; tổng thể ERP Acpinet</h3>
              <p class="txt_description">AcpiNet l&#224; hệ thống phần mềm gi&#250;p cho doanh nghiệp quản l&#253; tổng thể được t&#237;ch hợp đủ c&#225;c c&#244;ng cụ quản l&#253; vế t&#224;i ch&#237;nh kế to&#225;n, kế hoạch, nh&#226;n sự tiền lương...</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end-->
      <script>
        $(document).ready(function () {
          $('#product_owl_home').owlCarousel({
            items: 3,
            nav: true,
            loop: true,
            margin: 20,
            autoplay: true,
            autoplayTimeout: 20000,
            pagination: true,
            responsive: {
              0: {
                items: 2
              },
              768: {
                items: 3
              },
              992: {
                items: 3
              },
              1200: {
                items: 3
              }
            }
          });
          $('#product_owl_home').find('.owl-next').css({ "position": "absolute", "right": "5px", "top": "40%", "padding-left": "5px" }).html("<i class='fa fa-chevron-right'></i>");
          $('#product_owl_home').find('.owl-prev').css({ "position": "absolute", "left": "5px", "top": "40%", "padding-right": "0px" }).html("<i class='fa fa-chevron-left'></i>");
          $(window).resize();
        });
      </script>

      <!--begin-->
      <div class="work-quytrinh">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <h3>QUY TR&#204;NH L&#192;M VIỆC</h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding">
              <div class="panel maudo">
                <div class="panel-body">
                  01
                </div>
                <div class="panel-footer">
                  <img src="/Upload/ImageDes/images/tiep_nhan_thong_tin.png" alt="icon 1">
                  <h5>TIẾP NHẬN TH&#212;NG TIN</h5>
                  <p>Tiếp nhận th&#244;ng tin từ kh&#225;ch h&#224;ng v&#224; tiến h&#224;nh trao đổi chi tiết, liệt k&#234; th&#244;ng tin để t&#236;m ra vấn đề mấu chốt m&#224; kh&#225;ch h&#224;ng đang gặp phải.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding">
              <div class="panel mauxanhduong">
                <div class="panel-body">
                  02
                </div>
                <div class="panel-footer">
                  <img src="/Upload/ImageDes/images/dua_giai_phap_xu_ly.png" alt="icon 2">
                  <h5>ĐƯA GIẢI PH&#193;P, XỬ L&#205;</h5>
                  <p>Sau khi tiếp nhận v&#224; l&#234;n hồ sơ cho kh&#225;ch h&#224;ng, tiến h&#224;nh nghi&#234;n cứu v&#224; xử l&#237; c&#225;c th&#244;ng tin, đưa giải ph&#225;p tốt nhất v&#224; xử l&#237; theo giải ph&#225;p.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding">
              <div class="panel mauvang">
                <div class="panel-body">
                  03
                </div>
                <div class="panel-footer">
                  <img src="/Upload/ImageDes/images/ho_tro_khach_hang.png" alt="icon 3">
                  <h5>HỖ TRỢ KH&#193;CH H&#192;NG</h5>
                  <p>Trong qu&#225; tr&#236;nh xử l&#237; nếu kh&#225;ch h&#224;ng c&#243; bất k&#236; thắc mắc ch&#250;ng t&#244;i săn s&#224;ng hỗ trợ giải đ&#225;p để đảm bảo tiến độ c&#244;ng việc lu&#244;n ho&#224;n th&#224;nh tốt nhất.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding">
              <div class="panel mauxanh">
                <div class="panel-body">
                  04
                </div>
                <div class="panel-footer">
                  <img src="/Upload/ImageDes/images/hoan_tra_ho_so.png" alt="icon 4">
                  <h5>HO&#192;N TRẢ HỒ SƠ</h5>
                  <p>Sau khi vấn đề được giải quyết triệt để, tiến h&#224;nh b&#224;n giao v&#224; hướng dẫn cụ thể để kh&#225;ch h&#224;ng hiểu r&#245; cũng như th&#224;nh thạo c&#244;ng việc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end-->
      <!--start-->
      <div class="section_new_video">
        <div class="container">
          <div class="box box_news_hot col-xs-12 col-sm-12 col-md-8">
            <div class="box-title"><h2 class="mid_title_l">TIN TỨC</h2></div>
            <div class="box-content">
              <div class="row">
                <div class="news_focus-row row_first col-xs-12 col-md-6">
                  <div class="img">
                    <a href="/blogs/noibat.Alias_Blog/vasj-da-tro-thanh-doi-tac-chinh-thuc-cua-vnis-1-17.html" title="Vasj đ&#227; trở th&#224;nh đối t&#225;c ch&#237;nh thức của VNis"><img src="/Upload/ImageDes/images/VNIs.png" alt="Vasj đ&#227; trở th&#224;nh đối t&#225;c ch&#237;nh thức của VNis" title="Vasj đ&#227; trở th&#224;nh đối t&#225;c ch&#237;nh thức của VNis"></a>
                    <div class="date">
                      <span class="d">19</span>
                      <span class="m_y">05/2018</span>
                    </div>
                  </div>
                  <div class="info">
                    <a href="/blogs/tin-tuc/vasj-da-tro-thanh-doi-tac-chinh-thuc-cua-vnis-1-17.html" title="Vasj đ&#227; trở th&#224;nh đối t&#225;c ch&#237;nh thức của VNis">Vasj đ&#227; trở th&#224;nh đối t&#225;c ch&#237;nh thức của VNis</a>
                    <div class="short"></div>
                    <div class="btn btn_detail"><a href="/blogs/tin-tuc/vasj-da-tro-thanh-doi-tac-chinh-thuc-cua-vnis-1-17.html">Chi tiết</a></div>
                  </div>
                </div>
                <div class="news_list col-xs-12 col-md-6">
                  <div class="news_focus-row ">
                    <div class="date"><span class="d">12</span> <span class="m_y">05/2018</span></div>
                    <div class="title">
                      <a href="/blogs/tin-tuc/quyet-dinh-so-1209-qd-btc-1-12.html" title="Quyết định số 1209/QĐ-BTC">Quyết định số 1209/QĐ-BTC</a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="news_focus-row ">
                    <div class="date"><span class="d">12</span> <span class="m_y">05/2018</span></div>
                    <div class="title">
                      <a href="/blogs/tin-tuc/thong-tu-so-32-2011-tt-btc-1-11.html" title="Th&#244;ng tư số 32/2011/TT-BTC">Th&#244;ng tư số 32/2011/TT-BTC</a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="news_focus-row ">
                    <div class="date"><span class="d">08</span> <span class="m_y">04/2018</span></div>
                    <div class="title">
                      <a href="/blogs/tin-tuc/tuyen-nhan-vien-trien-khai-phan-mem-1-10.html" title="TUYỂN NH&#194;N VI&#202;N TRIỂN KHAI PHẦN MỀM">TUYỂN NH&#194;N VI&#202;N TRIỂN KHAI PHẦN MỀM</a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="news_focus-row ">
                    <div class="date"><span class="d">08</span> <span class="m_y">04/2018</span></div>
                    <div class="title">
                      <a href="/blogs/tin-tuc/thong-bao-ve-tuyen-nhan-vien-cham-soc-khach-hang-nam-2018-1-9.html" title="Th&#244;ng b&#225;o về tuyển nh&#226;n vi&#234;n chăm s&#243;c kh&#225;ch h&#224;ng năm 2018">Th&#244;ng b&#225;o về tuyển nh&#226;n vi&#234;n chăm s&#243;c kh&#225;ch h&#224;ng năm 2018</a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="news_focus-row ">
                    <div class="date"><span class="d">08</span> <span class="m_y">04/2018</span></div>
                    <div class="title">
                      <a href="/blogs/tin-tuc/giai-phap-cung-cap-phan-mem-quan-ly-hoa-don-dien-tu-duoc-cong-ty-co-phan-phan-mem-ke-toan-doanh-nghiep-viet-nam-chuyen-giao-va-phat-trien-1-8.html" title="Giải ph&#225;p cung cấp phần mềm Quản l&#253; h&#243;a đơn điện tử được C&#244;ng ty Cổ phần Phần mềm kế to&#225;n doanh nghiệp Việt Nam Chuyển giao v&#224; Ph&#225;t triển">Giải ph&#225;p cung cấp phần mềm Quản l&#253; h&#243;a đơn điện tử được C&#244;ng ty Cổ phần Phần mềm kế to&#225;n doanh nghiệp Việt Nam Chuyển giao v&#224; Ph&#225;t triển</a>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="box video_clip col-xs-12 col-sm-12 col-md-4">
            <div class="box-title"><h2 class="mid_title_l">VIDEO</h2></div>
            <div class="box-content">
              <div class="item video-img row_first">
                <div class="video_item">
                  <div class="wrap">
                    <iframe style="width:100%;height:230px" src="https://www.youtube.com/embed/WtH-gVoeico" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <div class="list_video">
                <div class="video_item">
                  <a class="ifancybox_video" data-video="Fc0XZJTWcho" href="javascript::0">
                    <img src="/Upload/ImageDes/files/Vasj%20tham%20gia%20trien%20lam%20giang%20vo.JPG" alt="video_image">
                  </a>
                </div>
                <div class="video_item">
                  <a class="ifancybox_video" data-video="FbR87ByXIks" href="javascript::0">
                    <img src="/Upload/ImageDes/files/Vasj%20tiep%20khach%20Singapo.JPG" alt="video_image">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade bs-example-modal-lg" id="video_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <a href="javascript::0" class="close_button" data-dismiss="modal" aria-label="Close">
                <img src="/Content/PMKT/image/icon_close.png" alt="close">
              </a>
            </div>
            <div class="modal-body">
              <div id="show_video"></div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          $('.ifancybox_video').click(function () {
            $('#video_popup #show_video').html('');
            var url = $(this).data('video');
            $('#video_popup').modal('show');
            $('#video_popup #show_video').html('<iframe width="100%" height="480" src="https://www.youtube.com/embed/' + url + '" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
          });
        });
      </script>
      <!--end-->
      <!--begin-->
      <div class="client-slider wow fadeInUp">
        <div class="container">
          <div class="theme-title">
            <h2 title="NHẬN X&#201;T KH&#193;CH H&#192;NG ">NHẬN X&#201;T KH&#193;CH H&#192;NG</h2>
          </div>
          <!-- /.theme-title -->
          <div class="row">
            <div id="customer_stay">
            </div>
            <!-- /.client-slider-wrapper -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <script>
        $(document).ready(function () {
          $('#customer_stay').owlCarousel({
            items: 2,
            nav: true,
            loop: true,
            margin: 20,
            autoplay: true,
            autoplayTimeout: 10000,
            pagination: true,
            responsive: {
              0: {
                items: 1
              },
              768: {
                items: 2
              },
              992: {
                items: 2
              },
              1200: {
                items: 2
              }
            }
          });
          $('#customer_stay').find('.owl-next').html("<i class='fa fa-chevron-right'></i>");
          $('#customer_stay').find('.owl-prev').html("<i class='fa fa-chevron-left'></i>");
          $(window).resize();
        });
      </script>
      <!--end-->
      <script>
        $(document).ready(function () {
          $('#partner_vendor').owlCarousel({
            items: 2,
            nav: true,
            loop: true,
            margin: 20,
            autoplay: true,
            autoplayTimeout: 10000,
            pagination: true,
            responsive: {
              0: {
                items: 2
              },
              768: {
                items: 4
              },
              992: {
                items: 5
              },
              1200: {
                items: 8
              }
            }
          });
          $('#partner_vendor').find('.owl-next').html("<i class='fa fa-angle-right'></i>");
          $('#partner_vendor').find('.owl-prev').html("<i class='fa fa-angle-left'></i>");
          $(window).resize();
        });
      </script>

      <div class="container">
        <div class="title_partner">
          <h2 title="Đối tác">Đối tác</h2>
        </div>
        <div id="partner_vendor">
          <div class="item">
            <a href="#"><img src="/Upload/Images/135x85_crop_brand.jpg" alt="doitac@i"></a>
          </div>
          <div class="item">
            <a href="#"><img src="/Upload/Images/135x85_crop_brand1.jpg" alt="doitac@i"></a>
          </div>
          <div class="item">
            <a href="#"><img src="/Upload/Images/135x85_crop_brand2.jpg" alt="doitac@i"></a>
          </div>
          <div class="item">
            <a><img src="/Upload/Images/135x85_crop_brand3 (1).jpg" alt="doitac@i"></a>
          </div>
          <div class="item">
            <a><img src="/Upload/Images/135x85_crop_brand4.jpg" alt="doitac@i"></a>
          </div>
          <div class="item">
            <a><img src="/Upload/Images/135x85_crop_brand6 (1).jpg" alt="doitac@i"></a>
          </div>
          <div class="item">
            <a><img src="/Upload/Images/135x85_crop_brand7.jpg" alt="doitac@i"></a>
          </div>
        </div>
      </div>
    </div>
    <button class="scroll-top tran3s p-color p-color2">
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
    <footer>
      <div class="opacity">
        <div class="top-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer-logo float-left">
                  <div class="text-center">
                    <a href="/"><img src="/Upload/ImageDes/files/logo.png" alt="logo-footer"></a>
                  </div>
                  <p>
                    C&#244;ng ty Cổ phần mềm Kế to&#225;n Doanh nghiệp Việt Nam (Vietnam Accounting Software Co., jsc) viết tắt l&#224; VASJ được th&#224;nh lập với mục ti&#234;u đem tr&#237; tuệ của m&#236;nh để l&#224;m gi&#224;u ch&#237;nh đ&#225;ng cho bản th&#226;n v&#224; cho x&#227; hội bằng việc cung cấp c&#225;c dịch vụ C&#244;ng nghệ th&#244;ng tin c&#243; uy t&#237;n v&#224; chất lượng cao.
                    T&#224;i sản qu&#237; gi&#225; v&#224; l&#224; niềm tự h&#224;o của ch&#250;ng t&#244;i ch&#237;nh l&#224; đội ngũ nh&#226;n vi&#234;n chuy&#234;n nghiệp, năng động, s&#225;ng tạo, t&#226;m huyết, tinh thần tr&#225;ch nhiệm v&#224; chuy&#234;n m&#244;n cao, l&#224;m việc hết m&#236;nh v&#236; tập thể c&#244;ng ty v&#224; kh&#225;ch h&#224;ng
                  </p>
                  <div class="footer-address float-left footer-link">
                    <h4>TH&#212;NG TIN CHI TIẾT</h4>
                    <ul>
                      <li><span class="fa fa-home"></span> <p>546 Bạch Đằng Hai B&#224; Trưng H&#224; Nội</p></li>
                      <li><span class="fa fa-phone"></span><p> 0989992498, 0977413190</p></li>
                      <li><span class="fa fa-mobile"></span> <p>02439841070</p></li>
                      <li><span class="fa fa-envelope"></span> <p>accvasj@gmail.com</p></li>
                    </ul>
                  </div>
                </div> <!-- /.footer-logo -->
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer-link float-left">
                  <h4>DỊCH VỤ</h4>
                  <ul class="tran3s">
                    <li class="item">
                      <a href="#" title="Dịch vụ kế to&#225;n" class="tran3s">Dịch vụ kế to&#225;n</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Th&#224;nh lập doanh nghiệp" class="tran3s">Th&#224;nh lập doanh nghiệp</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Dịch vụ kế to&#225;n trọn g&#243;i" class="tran3s">Dịch vụ kế to&#225;n trọn g&#243;i</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Dịch vụ kế to&#225;n nội bộ" class="tran3s">Dịch vụ kế to&#225;n nội bộ</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Dịch vụ kế to&#225;n nh&#226;n sự" class="tran3s">Dịch vụ kế to&#225;n nh&#226;n sự</a>
                    </li>
                  </ul>
                  <h4 class="link2">DỊCH VỤ KH&#193;C</h4>
                  <ul class="tran3s">
                    <li class="item">
                      <a href="#" title="Kiểm tra sổ s&#225;ch kế to&#225;n" class="tran3s">Kiểm tra sổ s&#225;ch kế to&#225;n</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Dịch vụ đăng k&#253; nh&#227;n hiệu" class="tran3s">Dịch vụ đăng k&#253; nh&#227;n hiệu</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Lao động tiền lương" class="tran3s">Lao động tiền lương</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer-address footer-link float-left">
                  <h4>ĐĂNG K&#205; NHẬN GIẢI PH&#193;P KẾ TO&#193;N THUẾ</h4>
                  <p>
                    Nhận giải ph&#225;p mới nhất về Kế to&#225;n Doanh nghiệp
                  </p>
                  <form method="post" class="mailchimp-form" action="/account/contact">
                    <div class="input-group">
                      <input class="form-control news" type="email" placeholder="Nhập Email" name="contact[email]" id="Email" value="" required="">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <div>
                        <input class="btn btn-default" type="submit" name="submit" value="GỬI">
                      </div>
                    </div><!-- /input-group -->
                    <ul class="social-links">
                      <li><a href="#" class="tran3s round-border icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#" class="tran3s round-border icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#" class="tran3s round-border icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                      <li><a href="#" class="tran3s round-border icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="footer-link">
                      <h4>BẢN ĐỒ</h4>
                      <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5312927773316!2d105.86499051430778!3d21.011417393747376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abf9776ffd8f%3A0x1d7fed7607f1e320!2zNTY0IMSQxrDhu51uZyBC4bqhY2ggxJDhurFuZywgQuG6oWNoIMSQ4bqxbmcsIEhhaSBCw6AgVHLGsG5nLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1524298273826" width="100%" height="280" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div> <!-- /.conatiner -->
        </div> <!-- /.top-footer -->
        <div class="bottom-footer clear-fix">
          <div class="container">
            <div class="col-lg-6 col-md-6 pil-foyt"><p class="text-left">C&#212;NG TY PHẦN MỀM KẾ TO&#193;N DOANH NGHIỆP VIỆT NAM</p></div>
            <div class="col-lg-6 col-md-6 pil-foyt"><p class="text-right">Designed by ĐT</p></div>
          </div>
        </div> <!-- /.bottom-footer -->
      </div> <!-- /.opacity -->
    </footer>
    <!--POPUP-->
    <div id="insPopupNewletter" class="newletter-popup engo-popup">
      <div class="overlay"></div>
      <div class="content">
        <div id="popup-newletter" class="">
          <div class="pa-header">
            <h3 class="">
              Đăng ký dùng thử dịch vụ thông tin ưu đãi của sản phẩm bạn đang quan tâm.
            </h3>
            <div class="pnewle-message">
              <p> Vui lòng để lại thông tin của bạn! Tư vấn của chúng tôi sẽ sớm liên hệ lại với bạn để gửi thông tin về các sản phẩm bạn đang quan tâm. </p>
            </div>
            <div class="form-register-product">
              <form>
                <div class="form-group">
                  <label for="txt_product">Sản phẩm bạn quan tâm</label>
                  <select class="form-control" id="select_product">
                    <option value="">---Chọn sản phẩm bạn quan tâm---</option>
                    <option value="1">Giải ph&#225;p quản l&#253; tổng thể ERP Acpinet</option>
                    <option value="2">Giải ph&#225;p c&#225;c phần mềm h&#243;a đơn điện tử</option>
                    <option value="3">Phần mềm kế to&#225;n SmartSoft 9(Sm17)</option>
                    <option value="4">Phần mềm kế to&#225;n SmartSoft 7(Ssc)</option>
                    <option value="7">Phần mềm kế to&#225;n HCSN SmartSoft Ad(09Q19)</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="txt_name">Tên của bạn</label>
                  <input type="text" required class="form-control" id="txt_fullname">
                </div>
                <div class="form-group">
                  <label for="txt_phone">Số điện thoại</label>
                  <input type="text" required class="form-control" id="txt_phone">
                </div>
                <div class="form-group">
                  <label for="txt_email">Email</label>
                  <input type="email" required class="form-control" id="txt_email">
                </div>
                <div class="form-group">
                  <input type="button" value="Gửi Thông Tin" id="send_information">
                </div>
              </form>
            </div>
          </div>
          <a href="javascript:void(0)" class="close_newletter closePopup">
          </a>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="success_register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="border-bottom:none;">
            <h4 class="modal-title" id="myModalLabel" style="float:left;">THÔNG BÁO</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="txt_seccess">
              CẢM ƠN BẠN ĐÃ ĐĂNG KÍ SỬ DỤNG PHẦN MỀM CỦA CHÚNG TÔI.CHÚNG TÔI SẼ LIÊN HỆ CHO BẠN SỚM NHẤT
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      jQuery(document).ready(function ($) {
        setTimeout(function () {
          if (sessionStorage.mega_popup == null) {
            sessionStorage.mega_popup = 'show';
            $('#insPopupNewletter').addClass('active');
            $('body').addClass('overlay_hidden');
          }
        }, 500)
        $('#send_information').click(function () {
          if ($('#select_product').val() == '') {
            alert("Mời bạn chọn sản phẩm bạn đang quan tâm tới");
          } else {
            $.ajax({
              type: 'POST',
              dataType: 'Json',
              url: '/home/registeruse/',
              data: {
                fullname: $('#txt_fullname').val(),
                phone: $('#txt_phone').val(),
                email: $('#txt_email').val(),
                productid: $('#select_product').val()

              },
              success: function (data) {
                $('#txt_fullname').text('');
                $('#txt_phone').text('');
                $('#txt_email').text('');
                $('#select_product').val('');
                $('#insPopupNewletter').removeClass('active');
                $('#success_register').modal();
              },
              error: function (err) {
                alert('Error');
              }
            });
          }
        });
      });
      $(document).on('click', '.close_newletter', function (e) {
        e.preventDefault();
        $('#insPopupNewletter').removeClass('active');
        $('body').removeClass('overlay_hidden');
      })
    </script>
    <script type="text/javascript">
      $('.button-register').click(function () {
        $('#insPopupNewletter').addClass('active');
        $('body').addClass('overlay_hidden');
      });
    </script>
  </div>
</body>
</html>
